:root {
    --light: #f4f3ee;
    --beige: #f2cc8f;
    --lightGreen: #27ae60;
    --darkBlue: #3d405b;
    /*--darkestGrey: #463f3a;*/
    --darkestGrey: #70664b;
    --darkGrey:#999999;
    --lightGrey:#e7e3d5;
}

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;;
}

body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--light) ;
    color: var(--darkBlue);
}


div#container > h2 {
    color: var(--darkBlue);
}

div#container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    padding: 1rem 4rem;
    background-color: var(--lightGrey);
    border-radius: 1rem;
}

input {
    width: 15rem;
    margin: 0 0 .4rem 0;
    border-radius: 0.2rem;
    background-color: var(--light);
}

button {
    margin-bottom: 2rem;
    background-color: var(--lightGreen);
    color: var(--light);
    /*border: solid .15rem var(--darkestGrey);*/
    cursor: pointer;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 3px;
    border: none;
}


div#images-container {
    display: flex;
    max-width: 100%;
    height: auto;
}

div#imagem {
    border: 2rem solid var(--beige);
    margin: 2rem;
}

body .productsPage {
    display: flex;
    flex-direction: column;
}
